<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poly.darkdepths.strongbox" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" />

    <application android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="poly.darkdepths.strongbox.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".miscGUI.Welcome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="poly.darkdepths.strongbox.CameraActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".miscGUI.Unlock"
            android:label="Strongbox" >
        </activity>
        <activity android:name=".player.MjpegViewerActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

    </application>

</manifest>
